<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de Ajustes -->
  <ion-list>
    <!-- Ajuste para Notificaciones -->
    <ion-item>
      <ion-label>Notificaciones</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>

    <!-- Ajuste para Idioma -->
    <ion-item>
      <ion-label>Idioma</ion-label>
      <ion-select disabled>
        <ion-select-option>
          <div class="placeholder-text placeholder-option"></div>
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Ajuste para Modo Oscuro -->
    <ion-item>
      <ion-label>Modo Oscuro</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>

    <!-- Otras Configuraciones -->
    <ion-item>
      <ion-label>Privacidad</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Ubicación</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Permisos</ion-label>
      <ion-toggle disabled></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>