.fondo-programar {
    --background: var(--ion-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ensures content is centered vertically */
}

.contenedor-programar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    /* You can adjust this width */
    margin: auto;
}

.tarjeta-programar {
    margin: auto;
    width: 100%;
    max-width: 400px;
    --background: var(--ion-card-background);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    /* Added padding for inner spacing */
}

ion-card-title {
    font-size: 1.4rem;
    text-align: center;
    color: var(--ion-text-color);
}

ion-item {
    --background: transparent;
    margin-bottom: 15px;
}

ion-label {
    color: var(--ion-text-color);
}

ion-input,
ion-datetime {
    --padding-start: 10px;
    --border-radius: 8px;
    border: 1px solid var(--ion-border-color, #ddd);
}

/* Geocoder Styles */
.geocoder-container {
    width: 100%;
    max-width: 400px;
    margin: auto;
    padding: 10px;
    background: var(--ion-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mapboxgl-ctrl-geocoder {
    width: 100%;
    height: 44px;
    border-radius: 8px;
    background: var(--ion-background-color);
    color: var(--ion-text-color);
    font-size: 1rem;
    padding: 5px 10px;
    border: 1px solid var(--ion-border-color);
}

.mapboxgl-ctrl-geocoder input {
    width: 100%;
    height: 30px;
    font-size: 1rem;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--ion-background-color);
    border: 1px solid var(--ion-border-color);
    color: var(--ion-text-color);
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder-icon {
    color: var(--ion-text-color);
}

/* Modo claro */
@media (prefers-color-scheme: light) {
    .fondo-programar {
        --background: #ffffff;
    }

    .tarjeta-programar {
        --background: #ffffff;
    }

    ion-card-title {
        color: #333;
    }

    ion-label {
        color: #333;
    }

    ion-input,
    ion-datetime {
        --background: #ffffff;
        --border-color: #ddd;
    }

    ion-button {
        --background: black;
        color: #ffffff;
    }

    .mapboxgl-ctrl-geocoder input {
        background: #ffffff;
        border-color: #ddd;
        color: #333;
    }
}

/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    .fondo-programar {
        --background: #121212;
    }

    .tarjeta-programar {
        --background: #1e1e1e;
    }

    ion-card-title {
        color: #ffffff;
    }

    ion-label {
        color: #ffffff;
    }

    ion-input,
    ion-datetime {
        --background: #333333;
        --border-color: #444;
    }

    ion-button {
        --background: #ffffff;
        color: black;
    }

    .mapboxgl-ctrl-geocoder input {
        background: #333;
        border-color: #444;
        color: #fff;
    }
}