<ion-app>
  <ion-menu content-id="main-content" mode="ios">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item button (click)="navigateTo('/perfil-usuario')">
          <ion-icon name="person-outline" slot="start"></ion-icon>
          <ion-label>Mi perfil</ion-label>
        </ion-item>

        <ion-item button (click)="navigateTo('/registro-usuario')">
          <ion-icon name="car-outline" slot="start"></ion-icon>
          <ion-label>Registrar vehículo</ion-label>
        </ion-item>

        <ion-item button (click)="navigateTo('/notificaciones')">
          <ion-icon name="notifications-outline" slot="start"></ion-icon>
          <ion-label>Notificaciones</ion-label>
        </ion-item>

        <ion-item button (click)="navigateTo('/ajustes')">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          <ion-label>Ajustes</ion-label>
        </ion-item>

        <ion-item button (click)="cerrarSesion()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          <ion-label>Cerrar sesión</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-header *ngIf="!isIniciarSesionPage()" mode="md">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="volverAtras()">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title routerLink="/home">TeLlevoApp</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>