<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Confirmar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="placeholder-text placeholder-title"></div>
      </ion-card-title>
      <ion-card-subtitle>
        <div class="placeholder-text placeholder-subtitle"></div>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Placeholder de detalles del conductor -->
      <div class="placeholder-text placeholder-description"></div>
      <div class="placeholder-text placeholder-description"></div>
      <!-- Placeholder de costo -->
      <ion-item lines="none">
        <ion-label>Costo:</ion-label>
        <div *ngIf="viaje" >{{viaje.costo}}</div>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Botones de Cancelar o Confirmar -->
  <div class="button-group">
    <ion-button expand="block" color="danger" routerLink="/lista-viajes">
      <div class="">
        Cancelar
      </div>
    </ion-button>

    <ion-button expand="block" color="primary" routerLink="/pago">
      <div class="">Confirmar</div>
    </ion-button>
  </div>
</ion-content>