<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Viajes Disponibles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Lista de Viajes -->
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" size-sm="12" *ngFor="let viaje of viajes">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ viaje?.destino }}
            </ion-card-title>
            <ion-card-subtitle>
              Sábado, 15 de Noviembre
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p>Fecha: {{ viaje?.horaSalida | date: 'dd/MM/yyyy' }}</p>
            <p>Hora: {{ viaje?.horaSalida | date: 'HH:mm' }}</p>
            <p>Asientos disponibles: {{viaje?.asientos}}</p>
            <ion-item lines="none">
              <ion-label>Costo</ion-label>
              <span>{{ viaje?.costo }}</span>
            </ion-item>
          </ion-card-content>

          <!-- Botón para confirmar -->
          <ion-button expand="block" (click)="verViaje( viaje?.id )">
            Confirmar Viaje
          </ion-button>

          <!-- Botón para ir al chat -->
          <ion-button expand="block" (click)="irAlChat(viaje?.id)">
            Ir al chat
          </ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<style>
</style>