:root {
    --ion-color-primary: #000000;
    /* Negro para modo claro */
    --ion-color-primary-rgb: 0, 0, 0;
    --ion-color-primary-contrast: #FFFFFF;
    /* Blanco */
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-background-color: #FFFFFF;
    /* Fondo blanco */
    --ion-text-color: #000000;
    /* Texto negro */
}

/* Modo oscuro */
[color-mode="dark"] {
    --ion-color-primary: #FFFFFF;
    /* Blanco para modo oscuro */
    --ion-color-primary-rgb: 255, 255, 255;
    --ion-color-primary-contrast: #000000;
    /* Negro */
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-background-color: #000000;
    /* Fondo negro */
    --ion-text-color: #FFFFFF;
    /* Texto blanco */
}

/* Ajustes generales de estilo */
ion-card {
    background-color: var(--ion-background-color);
    border-radius: 8px;
    box-shadow: none;
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
}

ion-card-header {
    background-color: var(--ion-background-color);
    border-bottom: 1px solid #e0e0e0;
}

ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: var(--ion-text-color);
}

ion-card-subtitle {
    font-size: 0.9em;
    color: var(--ion-text-color);
}

ion-card-content p {
    color: var(--ion-text-color);
    font-size: 1em;
    margin-bottom: 8px;
}

ion-item {
    --background: transparent;
    --border-color: #e0e0e0;
}

ion-label {
    color: var(--ion-text-color);
}

ion-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --border-radius: 4px;
    margin-top: 10px;
}

/* Botón de modo oscuro y claro */
ion-button[expand="block"] {
    font-weight: bold;
    margin-top: 10px;
}

.fecha {
    margin-top: 8px; /* Separación de 8px entre el destino y la fecha */
  }