<ion-content class="ion-padding fondo-inicio-sesion">
  <div class="contenedor-inicio-sesion">
    <ion-card class="tarjeta-inicio-sesion">
      <ion-card-header>
        <ion-card-title>Iniciar sesión</ion-card-title>
        <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="iniciarSesion()" [formGroup]="formularioInicioSesion">
          <ion-item lines="none">
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input formControlName="correo" type="email"></ion-input>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input formControlName="contrasena" type="password"></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" [disabled]="formularioInicioSesion.invalid">
            Iniciar sesión
          </ion-button>

          <ion-text class="ion-padding" color="medium">
            <p class="ion-text-center">
              <a href="#">¿Olvidaste tu contraseña?</a>
            </p>
          </ion-text>
        </form>
      </ion-card-content>
    </ion-card>

    <ion-text color="medium">
      <p class="ion-text-center">
        ¿No tienes una cuenta? <a href="#">Regístrate</a>
      </p>
    </ion-text>
  </div>
</ion-content>